
#mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 99;
	display: none;
}

#title {
	display: flex;
	align-items: center;
	background-color: #e8e8e8;
	box-sizing: border-box;
	border-bottom: 1px solid #8d8d8d;
}/* 
#pull_downMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	outline: 0;
	padding: 0;
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 50%;
	box-sizing: content-box;
	transition: all .1s;
}
#pull_downMenu_checkbox:checked ~ #pull_downMenu {
	background-color: darkgray;
	transform: rotate(90deg);
}
#pull_downMenu_checkbox {
	display: none;
} */

.mumod_transverse_rolling {
	flex: 1;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
}

/* 滚动条样式 */
.mumod_transverse_rolling::-webkit-scrollbar {
	height: 2px;
}

.mumod_tab {
	height: 35px;
	background-color: #eeeeee;
	display: flex;
}

.mumod_tab_item {
	background-color: #e8e8e8;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* width: 60px; */
}

.mumod_tab_item .left {
	width: 35px;
	height: 100%;
}

.mumod_tab_item .right {
	width: 35px;
	height: 100%;
}

.mumod_tab_item .middle {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mumod_left_icon {
	width: 100%;
	height: 100%;
	padding: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mumod_right_icon {
	width: 100%;
	height: 100%;
	padding: 18%;
	color: rgb(86, 80, 121);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.mumod_tab_item:hover {
  background-color: #ffffff;
}*/

.mumod_tab_item_content {
	color: rgb(86, 80, 121);
}

.mumod_active {
	background-color: #ffffff;
}
#tab {
	width: 0px;
}

#box {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#editor {
	flex: 1;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #FFFFFF;
}

* {
	-webkit-user-select: none;
}

p {
	color: rgb(86, 80, 121);
	margin: 3px;
}

a {
	-webkit-tap-highlight-color: rgb(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

div.ace_gutter .ace_gutter-cell {
	padding-left: 6px;
	padding-right: 8px;
}
