.mumod_transverse_rolling {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 6px;
}

/*滚动条样式*/
.mumod_transverse_rolling::-webkit-scrollbar {
  height: 2px;
}

.mumod_active {
  background-color: rgb(127, 191, 127);
  color: rgb(127, 165, 127);
}

#title {
  margin: 10px;
  margin-bottom: 4px;
}

#tab, #tab div.mumod_tab_item {
	display: flex;
}
#tab div.mumod_tab_item {
	margin-left: 10px;
}
#tab div.mumod_tab_item .left {
	margin-right: 3px;
}

#box {
  flex: 1;
}

#editor {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFFFFF;
}

* {
  -webkit-user-select: none;
}

p {
  color: rgb(86, 80, 121);
  margin: 3px;
}

a {
  -webkit-tap-highlight-color: rgb(255, 255, 255);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

div.ace_gutter .ace_gutter-cell {
  padding-left: 6px;
  padding-right: 8px;
}

.dragbar {
  position: fixed;
  right: 0;
  /*top: 50%;*/
  width: 12px;
  height: 100%;
  /*border-radius: 12px;*/
  background-color: rgb(86, 80, 121);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 85%;
  padding-bottom: 85%;
}

.ellipse{
  height:100%;
  width:100%;
  border-radius: 12px;
  background-color: #ffffff;
}
