#menu {
	background-color: rgb(31, 39, 45);
	color: snow;
	position: absolute;
	display: none;
	z-index: 100;
	transform: translate(-10%, -10%);
	padding: 4px;
}

#menu i::before {
	width: 25px;
	height: 25xp;
}