#menu {
	position: fixed;
	z-index: 100;
	transform: translate(-10%, -10%);
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	transition: all .1s;
	--left: -100%;
	--top: 0%;
	left: var(--left);
	top: var(--top);
}
#menu.show {
	background-color: rgb(25, 30, 45);
	color: snow;
	transform: translate(0%, 0%);
}
#menu.hide {
	color: transparent;
	background-color: transparent;
	transform: translateX(calc(0px - var(--left) - 70%)) scale(0);
}

#menu i::before {
	color: rgba(255, 255, 255, 0.87);
	width: 25px;
	height: 25xp;
}
#menu button {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: none;
	width: 30px;
	height: 30px;
}
#menu button:active {
	background-color: #545454;
}