#left_content {
	width: auto;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: all .2s;
	z-index: 100;
}
#left_bar {
	display: flex;
	align-items: center;
}
#left_checkbox {
	display: none;
}
#left_content p {
	background: white;
	height: 100vh;
	padding-top: 10vh;
	font-size: 5em;
}