#left_content {
	width: auto;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	transition: all .2s;
	z-index: 100;
}
#left_bar {
	display: flex;
	align-items: center;
	transition: all .2s;
}
#left_bar:hover {
	background-color: #cbcbcb;
}
#left_content p {
	background-color: red;
	color: #58ffff;
	width: 70vw;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 4em;
	margin: 0;
	height: 100%;
}